<h1>Peeps</h1>

<ul class="peep">
  <% peeps.each do |peep| %>
    <p><strong><%= peep.content %></strong>
      <em>
        Posted by <%= peep.user.username %> aka <%= peep.user.name %>
                  <%= peep.created_at.strftime("on %m/%d/%Y at %I:%M%p") %>
      </em>
    </p>
  <% end %>
</ul>
