<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
    <link rel="stylesheet" href="/css/application.css">
  </head>
  <body>
    <div class="header">
      <h1><a href="/">Chitter</a></h1>
    </div>
    <div class="center">
      <%= partial :flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
